* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
/* siempre con lo de arriba ya que asi podremos utilizar rem como pixeles ; NO USAR PX SINO REM:) */
p {
    font-size: 1.6rem;
}
/* rem  depende de la dimension que estea marcada por  la etiqueta html que mpor defecto es 16px a diferencias*/
main div {
    font-size: 16rem;
}